body {
  font: 12px sans-serif;
}

.y.axisRight text {
  fill: #00A779;
}

.y.axisLeft text {
  fill: #FF5C00;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.bar1 {
  fill: #FF5C00;
}

.bar2 {
  fill: #00A779;
}

.bar2:hover {
  fill: #35D3A7;
  transition-duration: 0.4s;
}

.bar1:hover {
  fill: #FF8540;
  transition-duration: 0.4s;
}

.x.axis path {
  display: none;
}

#tooltip {
  position: absolute;
  width: 100px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#ordenarCursos {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  transition-duration: 0.4s;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#ordenarCursos:hover {
  background-color: #555555;
  color: white;
}

.textBar1 {
	fill: white;
}

.textBar2 {
	fill: white;
}

#elementoSVG {
	width: 800px;
	text-align: center;
}
